In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

df = pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [2]:
df

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N
5,14,Y,7,BS,N,N,Y
6,1,N,0,BS,N,N,N
7,1,N,1,PhD,Y,N,N
8,4,Y,1,BS,N,Y,Y
9,0,N,0,PhD,Y,N,Y
10,0,N,0,BS,Y,Y,Y
11,2,N,0,BS,Y,Y,Y
12,8,N,6,BS,N,N,N
13,3,Y,1,MS,Y,N,Y
14,19,N,2,PhD,Y,N,N
15,1,N,0,BS,N,N,N

In [3]:
mapping1={"Y":1,"N":0}
df['IseAlindi'] = df['IseAlindi'].map(mapping1)
df['SuanCalisiyor?'] = df['SuanCalisiyor?'].map(mapping1)
df['Top10 Universite?'] = df['Top10 Universite?'].map(mapping1)
df['StajBizdeYaptimi?'] = df['StajBizdeYaptimi?'].map(mapping1)
mapping2={"BS":0,"MS":1,"PhD":2}
df['Egitim Seviyesi'] = df['Egitim Seviyesi'].map(mapping2)

In [4]:
df

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0
5,14,1,7,0,0,0,1
6,1,0,0,0,0,0,0
7,1,0,1,2,1,0,0
8,4,1,1,0,0,1,1
9,0,0,0,2,1,0,1
10,0,0,0,0,1,1,1
11,2,0,0,0,1,1,1
12,8,0,6,0,0,0,0
13,3,1,1,1,1,0,1
14,19,0,2,2,1,0,0
15,1,0,0,0,0,0,0

In [5]:
y=df["IseAlindi"]
X=df.drop(["IseAlindi"],axis=1)

In [6]:
model=tree.DecisionTreeClassifier()
model_fit=model.fit(X,y)

In [7]:
print (model_fit.predict([[5, 1, 3, 0, 0, 0]]))

[1]

In [8]:
print (model_fit.predict([[2, 0, 7, 0, 1, 0]]))

[0]

In [9]:
print (model_fit.predict([[20, 0, 5, 1, 1, 1]]))

[1]

# RANDOM FOREST

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
model_rf=RandomForestClassifier(n_estimators=20)
model_rf_fit=model_rf.fit(X,y)

In [12]:
model_rf_fit.predict([[10, 1, 4, 0, 0, 0]])

array([1], dtype=int64)

In [13]:
model_rf_fit.predict([[10, 0, 4, 0, 0, 0]])

array([0], dtype=int64)